<form action="/add-product" method="post" enctype=multipart/form-data>
    <input type="text" placeholder="product name" name="product_name" >
    <select name="product_category" id="">
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.category_name }}</option>
        {% endfor %}
    </select>
    <input type="text" placeholder="product price" name="product_price">
    <input type="text" placeholder="product description"  name="product_description">
    <!-- <input type="text" placeholder="product image" name="product_image"> -->
    <input type="file" name="product_image" id="">
    <input type="submit" value="">
</form>