

<form action="" method="POST">
    <input type="text" value="{{product.product_name}}" name="product_name">
    <select name="product_category" id="">
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.category_name }}</option>
        {% endfor %}
    </select>
    <input type="text" value="{{product.product_price}}" name="product_price">
    <input type="text" value="{{product.product_description}}" name="product_description">
    <!-- <input type="text" value="{{product.product_image}}" name="product_image"> -->
    <a href="/delete-image/{{product.id}}">X</a>
    <img width="100px" height="100px" src="{{url_for('static',filename=product.product_image)}}" width alt="">
    <input type="submit">
</form>